<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mvvmappapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name="com.example.mvvmappapplication.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:windowSoftInputMode="adjustResize">
            <!--            android:theme="@style/SplashTheme"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.menu.CameraViewActivity" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.user.RegistrationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

    </application>

    <!--인터넷 사용을 위한 권한 추가-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>